body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.5;
    text-align: center;
}
body{
    background-image: url(./Gemini_Generated_Image_h6miyrh6miyrh6mi.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.imgenes{
    width: 150px;
    height: 150px;
    margin:  15px;
}

h1, h2{
    color: #ffffff; 
}


.header-simple h1 {
    font-size: 3em;
    margin-bottom: 5px;
    color: #ffffff;
}

.boton-simple {
    display: inline-block;
    background-color: #000000;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.boton-simple:hover {
    background-color: #000000;
}


.seccion {
    padding: 50px 20px;
}

.seccion h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
}


.contenido-simple {
    width: 800px; 
    margin: 0 auto;
    text-align: left;
    color:  white;
}


.usos-clave {
    background-color: #fff; 
}
